
.foot{
    height:20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow:hidden;
    /* background-color: red; */
    
}
.foot-1{
    height:90%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow:hidden;
    /* background-color: rgb(0, 255, 145); */
    border-radius: 0.3rem;
    border: .6px solid rgba(252, 252, 252, 0.142);
    
}
.logo{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    height: 100%;
    width:30%;
    font-family: 'Source Code Pro', monospace;
    font-size:32px;
    color: white;
    gap: 0.8vw;
    padding-left: 3vw;

}
.text{
    height: 100%;
    width:40%;
    display: flex;
    align-items: flex-start;
    justify-content:center;
    flex-direction: column;

}
.text-1{
    height: 30%;
    width:60%;
    display: flex;
    align-items: center;
    /* padding-bottom:20px; */
    justify-content:space-between;

}
.text-1>a{
    font-family: 'Source Code Pro', monospace;
    font-size:16px;
    color: white;
}
.soi{
    height: 30%;
    width:30%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.foot1{
    /* background-color: wheat; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.094);
    color:#d0f5fb68;
    height: 5vh;
    font-size: 1.4vmin;
    color: rgba(207, 255, 255, 0.762);
    width: 100%;
    font-family: 'Source Code Pro', monospace;
}